################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/.vs/Calculator/v16/Server/sqlite3
