################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/.vs/Calculator/v16
/.vs/Calculator/v16/Server/sqlite3
/.vs/Calculator/v16
/ACM/ACM/.vs/ACM/v16
